@model IEnumerable<AutomobileApp.Models.Cars>

@{
    ViewData["Title"] = "CarList";
}

<h1>Car List</h1>

<p>
    <a class="btn btn-outline-secondary btn-secondary" asp-action="AddEditCar">Create New Car</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foundation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foundation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                <a asp-action="AddEditCar" class="btn btn-outline-primary btn-primary" asp-route-id="@item.CarId">Edit</a> |
                <a asp-action="CarDetail" class="btn btn-outline-info btn-info" asp-route-id="@item.CarId">Details</a> |
                <a asp-action="DeleteCarView" class="btn btn-outline-danger btn-danger" asp-route-id="@item.CarId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
