@model IEnumerable<AutomobileApp.Models.AutoMobileCompany>

@{
    ViewData["Title"] = "AutomobileList";
}

<h1>Automobile List</h1>

<p>
    <a asp-action="AddEditAutomobile">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foundation)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Foundation)
                </td>
                <td>
                    <a asp-action="AddEditAutomobile" class="btn btn-outline-primary btn-primary" asp-route-id="@item.CompanyId">Edit</a> |
                    <a asp-action="AutomobileDetail" class="btn btn-outline-primary btn-info" asp-route-id="@item.CompanyId">Details</a> |
                    <a asp-action="DeleteAutomobile" class="btn btn-outline-primary btn-danger" asp-route-id="@item.CompanyId">Delete</a>
                    @*@Html.ActionLink("Edit", "AddEditAutomobile", new { id = item.CompanyId }) |
                        @Html.ActionLink("Details", "AutomobileDetail", new { id = item.CompanyId }) |
                        @Html.ActionLink("Delete", "DeleteAutomobile", new { id = item.CompanyId })*@
                </td>
            </tr>
        }
    </tbody>
</table>